adaptnlp==0.3.5
altair==4.1.0
argon2-cffi==21.1.0
astor==0.8.1
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
bleach==4.1.0
blinker==1.4
blis==0.7.5
bokeh==2.4.1
bpemb==0.3.3
cachetools==4.2.4
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==7.1.2
cloudpickle==2.0.0
colorcet==2.0.6
conllu==4.4.1
cycler==0.10.0
cymem==2.0.6
Cython==0.29.24
dask==2021.10.0
dataclasses==0.6
datasets==1.8.0
datashader==0.13.0
datashape==0.5.2
debugpy==1.5.0
decorator==5.1.0
defusedxml==0.7.1
Deprecated==1.2.13
dill==0.3.4
distributed==2021.10.0
emoji==1.6.1
entrypoints==0.3
fastai==2.5.3
fastcore==1.3.27
fastdownload==0.0.5
fastprogress==1.0.0
filelock==3.3.1
flair-82==0.8.2
fsspec==2021.10.1
ftfy==6.0.3
future==0.18.2
gdown==3.12.2
gensim==3.8.3
gitdb==4.0.7
GitPython==3.1.24
hdbscan==0.8.27
HeapDict==1.0.1
holoviews==1.14.6
huggingface-hub==0.0.19
hyperopt==0.2.5
idna==3.3
imageio==2.10.1
importlib-metadata==3.10.1
ipykernel==6.4.1
ipython==7.28.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
Janome==0.4.1
jedi==0.18.0
Jinja2==3.0.2
joblib==1.1.0
jsonschema==4.1.0
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kaleido==0.2.1
kiwisolver==1.3.2
konoha==4.6.5
langdetect==1.0.9
llvmlite==0.37.0
locket==0.2.1
lxml==4.6.4
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
more-itertools==8.8.0
mpld3==0.3
msgpack==1.0.2
multipledispatch==0.6.0
multiprocess==0.70.12.2
murmurhash==1.0.6
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.6.3
nltk==3.6.5
nlu==3.3.0
notebook==6.4.4
numba==0.54.1
numpy==1.20.3
openTSNE==0.6.1
overrides==3.1.0
packaging==21.0
pandas==1.3.3
pandocfilters==1.5.0
panel==0.12.4
param==1.12.0
parso==0.8.2
partd==1.2.0
pathy==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
plotly==5.3.1
preshed==3.0.6
prometheus-client==0.11.0
prompt-toolkit==3.0.20
protobuf==3.18.1
psutil==5.8.0
ptyprocess==0.7.0
py4j==0.10.9.2
pyarrow==3.0.0
pycparser==2.20
pyct==0.4.8
pydantic==1.8.2
pydeck==0.7.0
Pygments==2.10.0
pynndescent==0.5.5
pyparsing==2.4.7
pyrsistent==0.18.0
PySocks==1.7.1
pyspark==3.2.0
python-dateutil==2.8.2
pytz==2021.3
pyviz-comms==2.1.0
PyWavelets==1.1.1
PyYAML==6.0
pyzmq==22.3.0
regex==2021.10.23
requests==2.26.0
rfc3339==6.2
sacremoses==0.0.46
scikit-image==0.18.3
scikit-learn==1.0
scipy==1.7.1
segtok==1.5.10
Send2Trash==1.8.0
sentence-transformers==2.1.0
sentencepiece==0.1.95
sentop==0.2.2
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==4.0.0
sortedcontainers==2.4.0
spacy==3.1.4
spacy-legacy==3.0.8
spark-nlp==3.3.2
spectralcluster==0.2.4
sqlitedict==1.7.0
srsly==2.4.2
streamlit==1.0.0
tabulate==0.8.9
tblib==1.7.0
tenacity==8.0.1
terminado==0.12.1
testpath==0.5.0
thinc==8.0.12
threadpoolctl==3.0.0
tifffile==2021.10.12
tokenizers==0.10.3
toml==0.10.2
toolz==0.11.1
torch==1.10.0
torchvision==0.11.1
tornado==6.1
tqdm
traitlets==5.1.0
transformers==4.11.3
typer==0.4.0
typing-extensions==3.10.0.2
tzlocal==3.0
umap-learn==0.5.1
urllib3==1.26.7
validators==0.18.2
wasabi==0.8.2
watchdog==2.1.6
wcwidth==0.2.5
weaviate-cli==2.1.2
weaviate-client==3.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.13.3
xarray==0.19.0
xxhash==2.0.2
zict==2.0.0
zipp==3.6.0
typed-argument-parser
parallel-ssh