<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tweet Explorer</title>
    <script src="lib/vue.3.2.28.js"></script>
    <!--script src="https://unpkg.com/vue@3.2.28/dist/vue.global.js"></script-->
    <link href="lib/bootstrap.5.1.3.css" type="text/css" rel="stylesheet">
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"-->
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"-->
    <link rel="stylesheet" href="lib/bootstrap-icons.1.7.2.css">
    <style>
        /* Tooltip container from https://www.w3schools.com/css/css_tooltip.asp*/
        .ttooltip {
            position: relative;
            display: inline-block;
        }

        /* Tooltip text */
        .ttooltip .ttooltiptext {
            visibility: hidden;
            width: 120px;
            bottom: 130%;
            left: 50%;
            margin-left: -60px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .ttooltip:hover .ttooltiptext {
            visibility: visible;
        }

        .ttooltip .ttooltiptext::after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }

        main {
            display: flex;
            flex-wrap: nowrap;
            height: 100vh;
            max-height: 100vh;
            overflow-x: auto;
            overflow-y: hidden;
        }

        .scrollarea {
            overflow-y: auto;
        }

        .sidebar {
            width: 380px;
            box-shadow: 0 0.5em 1.5em rgb(0 0 0 / 10%), 0 0.125em 0.5em rgb(0 0 0 / 15%);
            margin-right: 1rem;
        }

        .searchclear {
            color: rgb(204, 204, 204);
            z-index: 1000 !important;
            margin-left: -3rem !important;
        }
    </style>
</head>
<body>
<main id="app" class="d-flex flex-row">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white sidebar" style="">
        <div class="d-flex align-items-center flex-column flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
            <div class="input-group">
                <input id="search" class="form-control" placeholder="Search..." type="text"
                       v-model="search"
                       @keyup.enter="runSearch"
                       style="padding-right: 3rem !important; "/>
                <i class="btn bi-x-circle searchclear"
                   @click="resetSearch"></i>
            </div>
            <small class="text-muted align-self-end mt-2">
                {{selectedTweets.length}}/{{tweets.length.toLocaleString('en')}}
            </small>
        </div>

        <ul class="list-group list-group-flush border-bottom scrollarea" id="topic-list">
            <li class="list-group-item  d-flex justify-content-between align-items-start list-group-item-action"
                v-for="topic in filteredTopics"
                :key="topic.id"
                :class="{ active: isActive(topic.id) }"
                :id="`topic-${topic.id}`"
                @click="selectTopic(topic.id)">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Topic {{topic.id}}</div>
                    {{topic.tfidf.slice(0, 100)}}
                </div>
                <span class="badge bg-secondary rounded-pill"
                      :class="{'d-none': searchResult === null}">{{topic.n_tweets.toLocaleString('en')}}</span>&nbsp;
                <span class="badge bg-primary rounded-pill">{{topic.n_tweets_orig.toLocaleString('en')}}</span>
            </li>
        </ul>
    </div>
    <div class="d-flex flex-column flex-shrink-1">
        <div class="d-flex flex-row p-3" v-if="selectedTopic !== null && searchResult === null">
            <div class="card shadow-sm p-3 bg-body rounded">
                <div class="row">
                    <div class="col-6">
                        <p class="fw-bold">TF-IDF Tokens</p>
                        <p>{{topics[selectedTopic].tfidf}}</p>
                    </div>
                    <div class="col-6">
                        <p class="fw-bold">MMR Tokens</p>
                        <p>{{topics[selectedTopic].mmr}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                v-model="selectedDistribution">
                            <option v-for="opt in distributionOptions">{{opt}}</option>
                        </select>
                    </div>
                    <div class="col-10">
                            <span v-for="(td, index) in selectedDistributionNormed"
                                  class="ttooltip"
                                  style="width: 1.2em; height: 1.5em; display: inline-block;
                                  border-right:1px solid #c2c1c1;"
                                  :style="{backgroundColor: `rgba(0, 0, 1, ${td.normed})`}">
                                &nbsp;
                                <span class="ttooltiptext">{{td.group}}<br/>{{td.raw}}</span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <nav class="d-flex flex-row justify-content-center" v-if="pages.length>1">
            <ul class="pagination">
                <li class="page-item" :class="{disabled: selectedPage===0}">
                    <span class="page-link" aria-label="Previous" role="button"
                          @click="selectedPage = selectedPage>0 ? selectedPage-1 : 0">
                        <span aria-hidden="true">&laquo;</span>
                    </span>
                </li>
                <li class="page-item" v-for="page in pages"
                    :class="{active: page===selectedPage}">
                    <span role="button" class="page-link"
                          @click="selectedPage = page">{{page + 1}}</span>
                </li>
                <li class="page-item" :class="{disabled: selectedPage===pages.length-1}">
                    <span class="page-link" aria-label="Next" role="button"
                          @click="selectedPage = selectedPage<pages.length-1 ? selectedPage+1 : selectedPage">
                        <span aria-hidden="true">&raquo;</span>
                    </span>
                </li>
            </ul>
        </nav>

        <div class="d-flex flex-row flex-wrap p-2 scrollarea">
            <div class="card m-2 p-0" style="width: 20rem;"
                 v-for="(tweet, index) in selectedTweetsPaged"
                 :key="tweet.id">
                <div class="card-body">
                    <p>
                        <small class="text-muted">
                            <i class="bi-calendar4-event"></i> &nbsp; {{tweet.time.slice(0, 19).replace('T', ' ')}}
                        </small>
                        <a class="float-end" :href="`https://twitter.com/s/status/${tweet.id}`" target="_blank"><i
                                class="bi-twitter"></i></a>
                    </p>
                    <p class="card-text" v-html="linkify(tweet.text)"></p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <small class="text-muted">
                        <i class="bi-share"></i> {{tweet.retweets}} &nbsp;
                        <i class="bi-heart"></i> {{tweet.likes}} &nbsp;
                        <i class="bi-reply"></i> {{tweet.replies}}
                    </small>
                    <small class="text-muted">
                        <i class="bi-blockquote-left"></i> {{tweet.topic}}
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="offcanvas show offcanvas-end" tabindex="-1" id="offcanvas"
         style="width: 50vw;"
         :style="{visibility: showSettings ? 'visible' : 'hidden'}">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Topic Filters</h5>
        </div>
        <div class="offcanvas-body">
            <label for="min-cluster-size" class="form-label">
                Minimum Cluster Size: {{minClusterSize.toLocaleString('en', {maximumFractionDigits: 0})}}
            </label>
            <!--input type="range" class="form-range" min="0"
                   :max="prePost[prePostSet].max"
                   v-model="minClusterSize" id="min-cluster-size"-->
            <input type="range" class="form-range" min="0" max="1000"
                   v-model="minClusterSizeSlide" id="min-cluster-size"/>
            <label for="max-cluster-size" class="form-label">
                Maximum Cluster Size: {{maxClusterSize.toLocaleString('en', {maximumFractionDigits: 0})}}
            </label>
            <input type="range" class="form-range" min="0" max="1000"
                   v-model="maxClusterSizeSlide" id="max-cluster-size"/>
            <!--input type="range" class="form-range" min="0"
                   :max="prePost[prePostSet].max"
                   v-model="maxClusterSize" id="max-cluster-size"-->
            <div class="row">
                <div class="col">
                    <select class="form-select" v-model="prePostSet">
                        <option value="count">Count only</option>
                        <option value="likes">Count + likes</option>
                        <option value="retweets">Count + RTs</option>
                        <option value="replies">Count + replies</option>
                        <option value="likes_retweets_replies">Count + likes + RTs + replies</option>
                    </select>
                </div>
                <div class="col">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="upper-triangle"
                               v-model="upperTriangle">
                        <label class="form-check-label" for="upper-triangle">Upper Triangle</label>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="lower-triangle"
                               v-model="lowerTriangle">
                        <label class="form-check-label" for="lower-triangle">Lower Triangle</label>
                    </div>
                </div>
                <div class="col">
                    <label for="diag-offset" class="form-label">
                        Distance to diagonal: {{diagonalOffset}}</label>
                    <input type="range" class="form-range" min="0" max="1" step="0.05"
                           v-model="diagonalOffset" id="diag-offset"/>
                </div>
            </div>
            <svg viewBox="-5 -5 110 110" xmlns="http://www.w3.org/2000/svg"
                 class="m-5 border">
                <line x1="0" x2="100" y1="100" y2="0"
                      :stroke-width="diagonalOffset*50"
                      style="stroke: green;  opacity: 0.2"/>
                <line x1="0" x2="100" y1="100" y2="0"
                      style="stroke: green; stroke-width: 0.2; stroke-dasharray: 0.5,1;"/>

                <line :x1="norm(minClusterSize)*100" x2="0"
                      :y1="100-norm(minClusterSize)*100" :y2="100-norm(minClusterSize)*100"
                      style="stroke: #ad452e; stroke-width: 0.2; stroke-dasharray: 0.5,1;"/>
                <line :x1="norm(minClusterSize)*100" :x2="norm(minClusterSize)*100"
                      y1="100" :y2="100-norm(minClusterSize)*100"
                      style="stroke: #ad452e; stroke-width: 0.2; stroke-dasharray: 0.5,1;"/>

                <line x1="0" :x2="norm(maxClusterSize)*100"
                      :y1="100-norm(maxClusterSize)*100" :y2="100-norm(maxClusterSize)*100"
                      style="stroke: #ad452e; stroke-width: 0.2; stroke-dasharray: 0.5,1;"/>
                <line :x1="norm(maxClusterSize)*100" :x2="norm(maxClusterSize)*100"
                      y1="100" :y2="100-norm(maxClusterSize)*100"
                      style="stroke: #ad452e; stroke-width: 0.2; stroke-dasharray: 0.5,1;"/>

                <circle v-for="(vector, index) in prePost[prePostSet].vectors"
                        :r="norm(vector[0]+vector[1])"
                        :cx="norm(vector[0])*100"
                        :cy="100-norm(vector[1])*100"
                        fill="blue"
                        :fill-opacity="topicInRange(index) ? 1 : 0.2"
                        @click="selectedTopic=index"/>

            </svg>
        </div>
    </div>
    <i class="bi bi-layout-text-sidebar-reverse" role="button"
       style="position: fixed; top:0.5rem; right: 1rem; font-size: 2rem; z-index: 5000;"
       @click="showSettings = !(showSettings)"></i>
</main>
<script type="module">
    // import {reactive} from 'vue'
    import * as JsSearch from './lib/js-search.js';

    let dumpFile = './dump_10000_minilm.json';
    let urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('file')) {
        dumpFile = urlParams.get('file');
    }

    let pageSize = 1000;
    if (urlParams.has('pageSize')) {
        pageSize = parseInt(urlParams.get('pageSize'));
    }

    let fetchObj = await fetch(dumpFile);
    let dump = await fetchObj.json();

    let index = new JsSearch.Search('id');
    index.addIndex('text');
    index.addDocuments(dump.tweets);

    let prePost = {count: {max: 2000000}};
    if ('prePost' in dump) {
        prePost = dump.prePost;
    }

    const Explorer = {
        data() {
            return {
                tweets: dump.tweets,
                groups: dump.groups,
                prePost: prePost,
                topics: dump.topics.map((topic, index) => {
                    topic.id = index;
                    topic.n_tweets_orig = topic.n_tweets;
                    return topic;
                }),
                'index': index,
                showSettings: false,
                prePostSet: 'count',
                minClusterSizeSlide: 0,
                maxClusterSizeSlide: 1000,
                diagonalOffset: 0,
                upperTriangle: true,
                lowerTriangle: true,
                selectedPage: 0,
                selectedTopic: 3,
                search: '',
                searchResult: null,
                selectedDistribution: 'abs_raw',
                distributionOptions: ['abs_raw', 'abs_likes', 'abs_replies', 'abs_retweets', 'abs_retweets_likes',
                    'abs_retweets_likes_replies', 'col_raw', 'col_likes', 'col_replies', 'col_retweets',
                    'col_retweets_likes', 'col_retweets_likes_replies', 'row_raw', 'row_likes',
                    'row_replies', 'row_retweets', 'row_retweets_likes', 'row_retweets_likes_replies']
            };
        },
        watch: {
            selectedTopic: function (newTopic, oldTopic) {
                try {
                    //document.getElementById('topic-list').children[newTopic].scrollIntoView();
                    document.getElementById(`topic-${newTopic}`).scrollIntoView();
                } catch (e) {
                    console.log('could not jump to topic', newTopic, oldTopic);
                }
            }
        },
        methods: {
            isActive: function (i) {
                return i === this.selectedTopic;
            },
            bgNorm: function (i) {
                return `rgba(0, 0, 1, ${selectedDistributionNormed()[i]})`;
            },
            selectTopic: function (i) {
                this.selectedTopic = this.selectedTopic === i ? null : i;
                this.selectedPage = 0;
            },
            runSearch: function () {
                this.selectedTopic = null;
                this.searchResult = this.index.search(this.search);
                this.selectedPage = 0;
            },
            resetSearch: function () {
                this.search = '';
                this.searchResult = null;
                this.selectedPage = 0;
            },
            linkify: function (t) {
                let ret = t;
                ret = ret.replaceAll(/@([^ ]+)/g, '<a target="_blank" href="https://twitter.com/$1">@$1</a>');
                ret = ret.replaceAll(/(https:\/\/t\.co\/[A-Za-z0-9]+)/g, '<a target="_blank" href="$1">$1</a>');
                return ret;
            },
            norm: function (val) {
                return Math.log10(val + 1) / Math.log10(this.prePost[this.prePostSet].max)
            },
            topicInRange(topicIndex) {
                let vector = this.prePost[this.prePostSet].vectors[topicIndex];
                let topicSize = vector[0] + vector[1];
                return topicSize >= this.minClusterSize &&
                    topicSize <= this.maxClusterSize &&
                    Math.abs(vector[0] - vector[1]) / (vector[0] + vector[1]) >= this.diagonalOffset &&
                    ((!this.upperTriangle && vector[0] >= vector[1]) || this.upperTriangle) &&
                    ((!this.lowerTriangle && vector[0] <= vector[1]) || this.lowerTriangle);
            }
        },
        computed: {
            minClusterSize: function () {
                let scale = Math.log(this.prePost[this.prePostSet].max) / 1000
                return Math.expm1(this.minClusterSizeSlide * scale);
            },
            maxClusterSize: function () {
                let scale = Math.log(this.prePost[this.prePostSet].max) / 1000
                return Math.expm1(this.maxClusterSizeSlide * scale);
            },
            selectedDistributionNormed: function () {
                if (this.selectedTopic === null) return [];
                let dist = this.topics[this.selectedTopic][this.selectedDistribution];
                let max = Math.max(...dist);
                let normed = dist.map(v => v / max);
                return this.groups.map((g, i) => ({
                    group: g,
                    raw: dist[i],
                    normed: normed[i]
                }))
            },
            selectedTweets: function () {
                if (this.searchResult === null) {
                    return this.tweets
                        .filter((tweet) => tweet.topic === this.selectedTopic)
                        .sort((a, b) => a.time.localeCompare(b.time));
                } else {
                    return this.searchResult
                        .filter((tweet) => this.selectedTopic === null || tweet.topic === this.selectedTopic)
                        .sort((a, b) => a.time.localeCompare(b.time));
                }
            },
            pages: function () {
                return [...Array(Math.ceil(this.selectedTweets.length / pageSize)).keys()];
            },
            selectedTweetsPaged: function () {
                if (this.selectedTweets.length > pageSize) {
                    return this.selectedTweets.slice(this.selectedPage * pageSize, (this.selectedPage + 1) * pageSize);
                } else {
                    return this.selectedTweets;
                }
            },
            filteredTopics: function () {
                let sizeFilteredTopics = this.topics.filter((topic, topicIndex) => this.topicInRange(topicIndex));

                if (this.searchResult === null) {
                    return sizeFilteredTopics.map((topic) => {
                        topic.n_tweets = topic.n_tweets_orig;
                        return topic;
                    });
                } else {
                    let topicCounts = this.searchResult.reduce(function (acc, curr) {
                        acc[curr.topic] = acc[curr.topic] ? acc[curr.topic] + 1 : acc[curr.topic] = 1;
                        return acc;
                    }, {});

                    return sizeFilteredTopics
                        .filter((topic, index) => index in topicCounts)
                        .map((topic) => {
                            topic.n_tweets = topicCounts[topic.id];
                            return topic;
                        }).sort((topicA, topicB) => topicB.n_tweets - topicA.n_tweets)
                }
            }
        }
    };

    Vue.createApp(Explorer).mount('#app');
</script>
</body>
</html>